/* Main */
* {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  width: 50%;
  flex-direction: column;
  padding: 20px;
}
textarea {
  font-size: 20px;
  width: 100%;
  min-height: 250px;
  padding: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttons button {
  margin: 0 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #00aaff;
  transition: background 0.4s ease;
  color: white;
  border-radius: 2px;
  font-size: 20px;
}
.buttons button:hover {
  background: #007fbf;
}
.buttons button.red {
  background: #d11f00;
}
.buttons button.red:hover {
  background: #a61900;
}
